.intro-div{
    margin: 2rem;
    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 3fr 3fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    height: 100rem;
    align-items: end;
}
.intro-title{
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    font-size: 8rem;
    align-self: center;
    margin-bottom: 3rem;
}
.intro-title span{
    color: orange;
    border: 0.25rem solid #000;
    border-radius: 1rem;
    padding-right: 1.2rem;
    margin-left: 2rem;
}
.intro-info-div{
    grid-column:2/3 ;
    grid-row: 2/3 ;

    width: 100%;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 40rem;
    transform: skew(-10deg);
}



.info-h3{
    grid-column: 2/3;
    font-size: 2rem;
    font-weight: 500;
}
.info-h3-one{
    grid-row: 1/2;
}
.info-h3-two{
    grid-row: 2/3;
}
.info-h3-three{
    grid-row: 3/4;
}
.info-h3-four{
    grid-row: 4/5;
}
.arrow-right-span{
    width: 1rem;
    height: 1rem;
    border: 0.5rem solid #000;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    display: inline-block;
    grid-column: 1/2;

    position: relative;
    top: 0.7rem;
}
.intro-price-text{
    grid-column: 1/5;
    grid-row: 3/4;
    justify-self: center;
    font-size: 5rem;
    font-weight: 900;
    color: orange;
    align-self: end;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.intro-price-text s{
    color: #000;
    margin-right: 3rem;
}
.intro-img{
    grid-column: 3/4;    
    grid-row: 2/3;
    justify-self: center;
    width: 70%;
    margin-bottom: 5rem;
}


.basket-counter-div{
    grid-row: 4/5;
    grid-column: 1/5;


    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket-counter-div span{
    border: 0.13rem solid orange;
    border-radius: 2rem;
    margin: 0.5rem;
}
.counter-display{
    width: 6rem;
    height: 5rem;
}
.counter-display h4{
    font-size: 3.8rem;
    text-align: center;
    font-weight: 400;
}
.minus-button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    color: #000
}
.plus-button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    color: #000
}

.minus-button:hover{
    background-color: red;
    border: 0.13rem solid transparent;
}
.plus-button:hover{
    background-color: green;
    border: 0.13rem solid transparent;
}
.minus-button:active,
.plus-button:active{
    font-size: 1.7rem;
    height: 2.7rem;
    width: 2.7rem;
}

.basket-div{
    grid-row: 5/6;
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stock-text{
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    color: green;
}
.basket-button{
    display: inline-block;
    height: 7rem;
    width: 24rem;
    border: 0.25rem solid rgb(252, 232, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 0rem;
    background-color: rgb(255, 241, 113);
}
.basket-button:hover{
    cursor: pointer;
    height: 7.5rem;
    width: 26rem;
}
.basket-button:active{
    height: 6rem;
    width: 21rem;
}

.basket-button h4{
    transition: font-size 300ms ease-in;
    font-weight: 400;
}
.basket-button:hover h4{
    font-size: 2.3rem;

}



.basket-icon{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 3rem;
    color: #000;
}
@media screen and (max-width: 1100px) {
    .intro-title{
        font-size: 6.9rem;
    }
}
@media screen and (max-width: 1000px) {
    .intro-title{
        font-size: 6.4rem;
    }
}
@media screen and (max-width: 900px) {
    .intro-title{
        font-size: 5.7rem;
    }
    .intro-div{
        height: 70rem;
    }
    .intro-price-text{
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width: 800px){
    .intro-title{
        font-size: 4.6rem;
    }
    .info-h3{
        font-size: 1.6rem;
    }
    .intro-info-div{
        height: 30rem;
    }
    
}
@media screen and (max-width: 750px) {
    .arrow-right-span{
        width: 0.6rem;
        height: 0.6rem;
    }
}
@media screen and (max-width: 700px){
    .intro-title{
        font-size: 4rem;
    }
    .info-h3{
        font-size: 1.4rem;
    }
    .intro-img{
        width: 90%;
    }
    .intro-price-text{
        font-size: 3.7rem;
    }

}
@media screen and (max-width: 600px){
    .intro-title{
        font-size: 3.8rem;
    }
    .intro-title span{
        border: none;
    }
    .info-h3{
        font-size: 1.2rem;
    }
    .arrow-right-span{
        width: 0.4rem;
        height: 0.4rem;
        border: 0.3rem solid #000;
        border-left: 0;
        border-top: 0;
    }
    .intro-info-div{
        height: 20rem;
    }
    .intro-price-text{
        font-size: 3rem;
    }
    
}
@media screen and (max-width: 480px){
    .info-h3{
        font-size: 1rem;
        line-height: 2rem;
    }
    .intro-price-text{
        font-size: 2.6rem;
    }
    
    
}