


*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

/* Header */
.header-div{
    position: relative;
}
.header-img{
    width: 100%;
    position: relative;
    top: 1rem;
}

header{
    background-color: rgb(255, 241, 113);
    border-bottom-right-radius: 80%;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dyson-title{
    font-size: 4rem;
    margin-top: 0.4rem;
    color: rgb(37, 29, 30);
    position: relative;
    left: 2rem;
}

nav{
    position: sticky;
    top: 0rem;
    z-index: 2;
}
.nav-title{
    text-align: center;
    height: 2rem;
    padding-bottom: 0.3rem;
    font-size: 1.6rem;
    font-weight: 300;
    background-color: #000;
    color: #fff;
}
.nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    justify-items: center;
    align-content: center;
    list-style: none;
    font-size: 2rem;
}

.nav-basket-span{
    grid-column: 5/6;
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 2rem;
    padding-left: 0.8rem;
    height: 3rem;
    width: 9rem;
}
.nav-basket-span:hover{
    height: 3.3rem;
    width: 9.7rem;
    cursor: pointer;
}
.basket-icon-nav{
    height: 2.5rem;
    width: 3rem;
}
.basket-icon-label{
    display: inline;
    text-align: center;
}

.nav-buttons:hover{
    font-size: 2.2rem;
    cursor: pointer;
}

.contact-us{
    background-color: orange;
    border-radius: 2rem;
    width: 11rem;
    text-align: center;
}
.contact-us:hover{
    height: 3.2rem;
    width: 11.6rem;
    font-size: 2.2rem;
    cursor: pointer;
}
.inner-nav-div{
    background-color: rgb(255, 241, 113);
    height: 4.2rem;
    padding-top: 1rem;
}


/* Introducing*/
.intro-div{
    margin: 2rem;
    margin-bottom: 5rem;

    display: grid;
    grid-template-columns: 1fr 3fr 3fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    height: 100rem;
    align-items: end;
}
.intro-title{
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    font-size: 8rem;
    align-self: center;
    margin-bottom: 3rem;
}
.intro-title span{
    color: orange;
    border: 0.25rem solid #000;
    border-radius: 1rem;
    padding-right: 1.2rem;
    margin-left: 2rem;
}
.intro-info-div{
    grid-column:2/3 ;
    grid-row: 2/3 ;

    width: 100%;
    align-self: center;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 40rem;
    transform: skew(-10deg);
}



.info-h3{
    grid-column: 2/3;
    font-size: 2rem;
    font-weight: 500;
}
.info-h3-one{
    grid-row: 1/2;
}
.info-h3-two{
    grid-row: 2/3;
}
.info-h3-three{
    grid-row: 3/4;
}
.info-h3-four{
    grid-row: 4/5;
}
.arrow-right-span{
    width: 1rem;
    height: 1rem;
    border: 0.5rem solid #000;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    display: inline-block;
    grid-column: 1/2;

    position: relative;
    top: 0.7rem;
}
.intro-price-text{
    grid-column: 1/5;
    grid-row: 3/4;
    justify-self: center;
    font-size: 5rem;
    font-weight: 900;
    color: orange;
    align-self: end;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.intro-price-text s{
    color: #000;
    margin-right: 3rem;
}
.intro-img{
    grid-column: 3/4;    
    grid-row: 2/3;
    justify-self: center;
    width: 70%;
    margin-bottom: 5rem;
}


.basket-counter-div{
    grid-row: 4/5;
    grid-column: 1/5;


    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket-counter-div span{
    border: 0.13rem solid orange;
    border-radius: 2rem;
    margin: 0.5rem;
}
.counter-display{
    width: 6rem;
    height: 5rem;
}
.counter-display h4{
    font-size: 3.8rem;
    text-align: center;
    font-weight: 400;
}
.minus-button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}
.plus-button{
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    background-color: orange;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

.minus-button:hover{
    background-color: red;
    border: 0.13rem solid transparent;
}
.plus-button:hover{
    background-color: green;
    border: 0.13rem solid transparent;
}
.minus-button:active,
.plus-button:active{
    font-size: 1.7rem;
    height: 2.7rem;
    width: 2.7rem;
}

.basket-div{
    grid-row: 5/6;
    grid-column: 1/5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.stock-text{
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    color: green;
}
.basket-button{
    display: inline-block;
    height: 7rem;
    width: 24rem;
    border: 0.25rem solid rgb(252, 232, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    font-size: 0rem;
    background-color: rgb(255, 241, 113);
}
.basket-button:hover{
    cursor: pointer;
    height: 7.5rem;
    width: 26rem;
}
.basket-button:active{
    height: 6rem;
    width: 21rem;
}

.basket-button h3{
    transition: font-size 300ms ease-in;
    font-weight: 400;
}
.basket-button:hover h3{
    font-size: 2.3rem;

}



.basket-icon{
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 3rem;
}

.specs-title{
    font-size: 3rem;
    margin-left: 9rem;
    margin-top: 5rem;
}
.spec-product{
    font-size: 2.4rem;
    display: inline;
    font-weight: 300;
    margin-left: 1rem;
}
.spec-product-color{
    font-size: 2.4rem;
    display: inline;
    font-weight: 300;
    color: orange;
}
.specs-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    margin: 1rem;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-top: 5rem;
}
.spec-details{
    font-size: 4rem;
    margin-left: 2.4rem;
    font-weight: 500;
}
.spec-title{
    font-size: 1.6rem;
    font-weight: 300;
    margin-left: 1rem;

}
.sub-spec-div{
    border-radius: 2rem;
    box-shadow: orange 0.3rem 0.5rem;
    border-top: 0.25rem solid gray;
}
.specs-div p{
    display: inline;
    font-size: 2rem;
    font-weight: 300;
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    html{
        font-size: 12px;
    }
}